{{/*
@example {{ partial "components/icon" (dict "name" $name "variant" $variant "size" $size "class" $class) }}
*/}}
{{ $src := printf "/assets/icons/%s.svg" .name }}
{{ $result := "" }}
{{ if fileExists $src }}
  {{ $svg := readFile $src | htmlUnescape }}
  {{ $classNames := slice "icon" }}
  {{/* Get variant */}}
  {{ $variants := slice "primary" "secondary" "info" "success" "warning" "error" "current" }}
  {{ if in $variants .variant }}
    {{ $classNames = $classNames | append (printf "icon--%s" .variant) }}
  {{ end }}
  {{/* Get size */}}
  {{ $sizes := slice "small" "medium" "large" }}
  {{ if in $sizes .size }}
    {{ $classNames = $classNames | append (printf "icon--%s" .size) }}
  {{ end }}
  {{/* Get additional class name */}}
  {{ if .class }}
    {{ $classNames = $classNames | append .class }}
  {{ end }}
  {{/* Build class names */}}
  {{ $classNames = delimit $classNames " " }}
  {{/* Output */}}
  {{ $result = $svg | replaceRE "<svg " (printf "<svg class=%q " $classNames) | chomp }}
{{ end }}
{{/* Return result */}}
{{ if ne $result "" }}
  {{ return ($result | safeHTML) }}
{{ else }}
  {{ errorf "Unable to get icon %q" $src }}
{{ end }}
