.button {
  display: inline-block;
  padding: 0.5rem;
  color: #0085fd;
  background-color: transparent;
  border-radius: 0.25rem;
  border-width: 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
  &:hover,
  &:active {
    text-decoration: none;
  }

  // Variant

  &.button--primary,
  &.button--secondary,
  &.button--info,
  &.button--success,
  &.button--warning,
  &.button--error {
    padding: 0.5rem 1rem;
    color: #fff;

    // Variant + Size

    &.button--large {
      padding: 0.75rem 1.5rem;
    }
    &.button--medium {
      padding: 0.5rem 1rem;
    }
    &.button--small {
      padding: 0.25rem 0.5rem;
    }
  }
  &.button--primary {
    background-color: #0085fd;
  }
  &.button--secondary {
    background-color: #999;
  }
  &.button--info {
    background-color: #0085fd;
  }
  &.button--success {
    background-color: #2e7d32;
  }
  &.button--warning {
    background-color: #ed8f02;
  }
  &.button--error {
    background-color: #d32f2f;
  }

  // Size

  &.button--large {
    padding: 0.75rem;
    font-size: 20px;
  }
  &.button--medium {
    padding: 0.5rem;
    font-size: 18px;
  }
  &.button--small {
    padding: 0.25rem;
    font-size: 16px;
  }

  // Disabled

  &.button--disabled {
    pointer-events: none;
    opacity: 0.25;
  }
}
