.command-output {
  margin-bottom: 1rem;
  background-color: #272822;
  border-radius: 0.25rem;

  .highlight {
    margin-bottom: 0;
  }
  .command-output__command {
    span.prompt::before {
      content: attr(data-prompt) " ";
      color: rgba(#f8f8f2, 0.5);
      user-select: none;
    }
  }
  .command-output__label {
    padding: 0.5rem;
    border-bottom: solid 1px rgba(#f8f8f2, 0.25);
    color: rgba(#f8f8f2, 0.5);
    font-size: 16px;
  }
  & > * {
    border-bottom: solid 2px #fff;
  }
  & > :last-child {
    border-bottom: none;
  }
}
