.icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;

  // Size
  
  &.icon--large {
    width: 32px;
    height: 32px;
  }
  &.icon--small {
    width: 20px;
    height: 20px;
  }
}
