{{- $href := cond .IsNamedParams (.Get "href") (.Get 0) -}}
{{- $classNames := slice "button" -}}
{{- /* Get variant */ -}}
{{- $variant := cond .IsNamedParams (.Get "variant") (.Get 1) -}}
{{- if or (eq $variant "primary") (eq $variant "secondary") (eq $variant "info") (eq $variant "success") (eq $variant "warning") (eq $variant "error") -}}
  {{- $classNames = $classNames | append (printf "button--%s" $variant) -}}
{{- end -}}
{{- /* Get size */ -}}
{{- $size := cond .IsNamedParams (.Get "size") (.Get 2) -}}
{{- if or (eq $size "small") (eq $size "medium") (eq $size "large") -}}
  {{- $classNames = $classNames | append (printf "button--%s" $size) -}}
{{- end -}}
{{- /* Get disabled */ -}}
{{- $disabled := cond .IsNamedParams (.Get "disabled") (.Get 3) -}}
{{- if or (eq $disabled "true") (eq $disabled "disabled") -}}
  {{- $classNames = $classNames | append "button--disabled" -}}
{{- end -}}
{{- /* Get additional class name */ -}}
{{- $class := cond .IsNamedParams (.Get "class") (.Get 4) -}}
{{- if $class -}}
  {{- $classNames = $classNames | append $class -}}
{{- end -}}
{{- /* Build class names */ -}}
{{- $classNames = delimit $classNames " " -}}
{{- /* Output */ -}}
<a href="{{ $href }}" class="{{ $classNames }}" {{ if hasPrefix $href "http" }} target="_blank" rel="noopener"{{ end }}>
  {{ .Inner | $.Page.RenderString }}
</a>{{ "" -}}
