{{- $maxHeight := cond .IsNamedParams (.Get "maxHeight") (.Get 0) -}}
{{- $collapseId := printf "collapse-%02v" (partial "utils/uid") | anchorize -}}
<div class="collapse">
  <input class="collapse__input" type="checkbox" id="{{ $collapseId }}">
  <label class="collapse__label" for="{{ $collapseId }}"></label>
  <div class="collapse__content"{{ with $maxHeight }} style="max-height:{{ . }}px"{{ end }}>
    {{ .Inner | $.Page.RenderString }}
  </div>
</div>
<script>
  window.addEventListener("DOMContentLoaded", function (event) {
      const checkHeight = () => {
        const input = document.getElementById("{{ $collapseId }}");
        if (input) {
          input.checked = false;
          const collapse = input.parentNode;
          const content = collapse.querySelector(".collapse__content");
          if (content) {
            if (content.scrollHeight > 0 && content.offsetHeight > 0) {
              if (content.scrollHeight == content.offsetHeight) {
                collapse.classList.add("collapse--disabled");
              } else {
                collapse.classList.remove("collapse--disabled");
              }
            }
          }
        }
      };
      window.addEventListener("resize", checkHeight, false);
      checkHeight();
    }, false
  );
</script>
