{{- /* Get icon name */ -}}
{{- $icon := cond .IsNamedParams (.Get "icon") (.Get 0) -}}
{{- if not $icon }}{{ $icon = "file" }}{{ end -}}
{{- /* Get icon variant */ -}}
{{- $variant := cond .IsNamedParams (.Get "variant") (.Get 1) -}}
{{- if not $variant }}{{ $variant = "secondary" }}{{ end -}}
{{- /* Output */ -}}
{{- $list := .Inner | $.Page.RenderString -}}
{{- $icon := partial "components/icon" (dict "name" $icon "variant" $variant) -}}
{{- $list = replace $list "<ul>" `<ul class="file-list">` -}}
{{- $list = replaceRE "(<a[^>]+>)" (printf "$1%s " $icon) $list -}}
{{ $list | safeHTML }}
