{{- $label := cond .IsNamedParams (.Get "label") (.Get 0) -}}
{{- $lang := cond .IsNamedParams (.Get "lang") (.Get 1) | default "plaintext" -}}
{{- $options := cond .IsNamedParams (.Get "options") (.Get 2) -}}
{{- $inner := trim .Inner "\n\r" -}}
{{- $highlight := "" -}}
{{- if hasPrefix $inner "```" -}}
  {{- /* Inner is a code fence, so render Markdown */ -}}
  {{- $highlight = $inner | $.Page.RenderString -}}
{{- else -}}
  {{- /* Inner is not a code fence, so render with highlight */ -}}
  {{- $highlight = highlight $inner $lang $options -}}
{{- end -}}
{{- /* Output */ -}}
<div class="labeled-highlight">
  {{- with $label }}
    <div class="labeled-highlight__label">
      <code>{{ . }}</code>
    </div>
  {{- end }}
  {{ $highlight }}
</div>
