{{/* Verify that this tab is enclosed within a tabpane */}}
{{ if .Parent }}
  {{ if ne .Parent.Name "tabpane" }}
    {{ errorf "Found shortcode %q enclosed inside a %q block, must be enclosed inside a %q block. Error position: %s" .Name .Parent.Name "tabpane" .Position }}
  {{ end }}
{{ else }}
  {{ errorf "shortcode %q must be enclosed inside a %q block, but no parent block was found. Error position: %s" .Name "tabpane" .Position }}
{{ end }}
{{/* Get label */}}
{{ $label := cond .IsNamedParams (.Get "label") (.Get 0) | default (printf "Tab %v" .Ordinal) }}
{{/* Get selected */}}
{{ $selected := cond .IsNamedParams (.Get "selected") (.Get 1) }}
{{ $selected = or (eq $selected "true") (eq $selected "selected") }}
{{/* Pass params to tabpane */}}
{{ $tab := dict "label" $label }}
{{ if $selected }}
  {{ $tab = merge $tab (dict "selected" true) }}
{{ end }}
{{ $tab = merge $tab (dict "content" .InnerDeindent) }}
{{ .Parent.Scratch.SetInMap "tabs" (printf "%02v" .Ordinal) $tab }}
