{{/*
@example {{ partial "utils/icon" (dict "name" "file" "variant" "primary" "size" "large") }}
*/}}

{{ $src := printf "/assets/icons/%s.svg" .name }}
{{ $result := "" }}

{{ if fileExists $src }}
  {{ $svg := readFile $src | htmlUnescape }}
  {{ $class := slice "icon" }}
  {{/* Get variant */}}
  {{ if or (eq .variant "primary") (eq .variant "secondary") (eq .variant "info") (eq .variant "success") (eq .variant "warning") (eq .variant "error") (eq .variant "current") }}
    {{ $class = $class | append (printf "icon--%s" .variant) }}
  {{ end }}
  {{/* Get size */}}
  {{ if or (eq .size "small") (eq .size "medium") (eq .size "large") }}
    {{  $class = $class | append (printf "icon--%s" .size) }}
  {{ end }}
  {{/* Get additional class name */}}
  {{ if .class }}
    {{ $class = $class | append .class }}
  {{ end }}
  {{/* Build class names */}}
  {{ $class = delimit $class " " }}
  {{/* Output */}}
  {{ $result = $svg | replaceRE "<svg " (printf "<svg class=%q " $class) | chomp }}
{{ end }}

{{/* Return result */}}
{{ if ne $result "" }}
  {{ return ($result | safeHTML) }}
{{ else }}
  {{ errorf "Unable to get icon %q" $src }}
{{ end }}
