{{- $name := cond .IsNamedParams (.Get "name") (.Get 0) -}}
{{- $variant := cond .IsNamedParams (.Get "variant") (.Get 1) -}}
{{- $size := cond .IsNamedParams (.Get "size") (.Get 2) -}}
{{- $class := cond .IsNamedParams (.Get "class") (.Get 3) -}}
{{- /* Output */ -}}
{{- $icon := partial "components/icon" (dict "name" $name "variant" $variant "size" $size "class" $class) -}}
{{- if not $icon -}}
  {{- errorf "Shortcode %q could not find %q. Error position: %s" .Name $name .Position -}}
{{- end -}}
{{- $icon -}}
