{{- $this := . -}}
{{- $resourceName := .Get 0 -}}
{{- with $.Page.Resources.Get $resourceName -}}
  {{- if eq .ResourceType "application" -}}
    {{- .Content | safeHTML -}}
  {{- else if eq .ResourceType "audio" -}}
    {{- printf "<audio controls><source src=%q type=%q></audio>" .RelPermalink .MediaType.Type | safeHTML -}}
  {{- else if eq .ResourceType "image" -}}
    {{- $resource := . }}
    {{- if not (eq .MediaType.SubType "svg") }}
      {{- $process := $this.Get 1 }}
      {{- if $process }}
        {{- $resource = .Process $process }}
      {{- end }}
    {{- end }}
    {{- printf "<figure><img src=%q alt=%q></figure>" $resource.RelPermalink $resource.Name | safeHTML -}}
  {{- else if eq .ResourceType "page" -}}
    {{- .Content | safeHTML -}}
  {{- else if eq .ResourceType "text" -}}
    {{- if hasSuffix $resourceName ".js" -}} 
      {{- printf "<script src=%q></script>" .RelPermalink | safeHTML -}}
    {{- else if hasSuffix $resourceName ".css" -}}
      {{- printf `<link rel="stylesheet" type="text/css" href=%q>` .RelPermalink | safeHTML -}}
    {{- else -}}
      {{- .Content | safeHTML -}}
    {{- end -}}
  {{- else if eq .ResourceType "video" -}}
    {{- printf "<video controls><source src=%q type=%q></video>" .RelPermalink .MediaType.Type | safeHTML -}}
  {{- else -}}
    {{- errorf "Shortcode %q: resource type %q not supported at %s" $this.Name .ResourceType $this.Position -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Shortcode %q: resource %q not found at %s" .Name $resourceName .Position -}}
{{- end -}}
