{{/* Populate Scratch with tab content by rendering .Inner; print to a variable so whitespace isn't rendered */ -}}
{{ $inner := .Inner -}}
{{/* Render tabpane */ -}}
{{ $tabPaneOrdinal := .Ordinal -}}
<div class="tabpane">
  {{ range $k, $v := $.Scratch.Get "tabs" -}}
    {{ $tabpaneId := printf "tabpane-%02v" $tabPaneOrdinal | anchorize -}}
    {{ $tabId := printf "tabpane-%02v-%v" $tabPaneOrdinal $k | anchorize -}}
    <input type="radio" name="{{ $tabpaneId }}" id="{{ $tabId }}" class="tabpane__input" tabindex="1"{{ if eq $k "00" }} checked="checked"{{ end }}>
    <label class="tabpane__label" for="{{ $tabId }}">
      {{ index . "name" }}
    </label>
    <div class="tabpane__panel" tabindex="1">
      {{ index . "content" | markdownify }}
    </div>
  {{ end -}}
</div>
